.Apple{
    background-color: red;
    margin: 10%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5rem;
    border: 5px black solid;
    border-radius: 20rem;

}

.stem{
    background-color: rgb(121, 11, 11);
    margin-top: 5rem;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1rem;
    border: 5px black solid;
    border-radius: 20rem;


}